@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
*:before, *:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    background-color: #fff;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC');
    text-align: center;
    font-family: 'segoe ui', ubuntu, helvetica, arial, sans-serif;
    color: #121922;
    /*color: #172839;*/
    animation: slide 1.84s linear infinite;
}
@keyframes slide {
  100% { /*0% = reverse*/
    background-position: 50px 50px;
  }
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
    padding: 45px 10px;
}

.header {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
}
.header h1 {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 3px;
}
.header h2 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
}

.intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 40px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    margin: 5px 0 -5px;
}
.summary {
    max-width: 1000px;
    font-size: 18px;
    line-height: 30px;
}
.contact {
    align-self: center;
    min-width: 220px;
    border: none;
    border-radius: 4px;
    background-color: #ad6;
    padding: 16px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    transition: 0.5s ease;
    cursor: pointer;
}
.contact:hover {
    background-color: #be6;
}

.modal {
    display: none;
    position: fixed;
    top: 40%;
    z-index: 1;
    width: 450px;
    max-width: 95%;
    box-shadow: 0 0 20px #0003;
    padding: 15px 20px;
    transition: 0.5s ease;
}
.modal.active {
    display: block;
    opacity: 1;
    @starting-style {
        opacity: 0;
    } /*start value goes last*/
}
.modal:before {
    content: "";
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: -1;
    background-color: #000c;
}
.modal:after {
    content: "";
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: -1;
    box-shadow: 0 0 20px #0003;
    border-radius: 5px;
    background-color: #fff;
}
.modal .close {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0; right: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: none;
    background: none;
    font-size: 0;
    transition: 0.5s ease;
    cursor: pointer;
}
.modal .close:before,
.modal .close:after {
    content: "";
    grid-area: 1 / 1;
    width: 16px;
    height: 2px;
    background-color: #000;
}
.modal .close:before {
    transform: rotate(-45deg);
}
.modal .close:after {
    transform: rotate(45deg);
}
.modal .close:hover {
    transform: rotate(360deg);
}
.modal .content {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.modal .picture {
    border-radius: 50%;
}
.modal .details {
    text-align: left;
    line-height: 24px;
}
.modal .details p {
    display: flex;
}
.modal .location {
    margin-bottom: 5px;
    font-weight: 500;
}
.modal span:before,
.modal span:after {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.modal .asprnd {
    max-width: 16px;
    overflow: hidden;
}
.modal .asprnd:before,
.modal .asprnd:after {
    content: "\0040";
}
.modal .asprnd i {
    display: none;
}

.obfsctn-1 .in:after {
    content: attr(data-a1);
}
.obfsctn-1 .in:before {
    content: attr(data-a2);
}
.obfsctn-1 .out:after {
    content: attr(data-b1);
}
.obfsctn-1 .out:before {
    content: attr(data-b2);
}
.obfsctn-2 .in:after {
    content: attr(data-a1);
}
.obfsctn-2 .in:before {
    content: attr(data-a2);
}
.obfsctn-2 .out:after {
    content: attr(data-b1);
}
.obfsctn-2 .out:before {
    content: attr(data-b2);
}

.projects h3 {
    display: block;
    margin: 25px 0 55px;
    padding-left: 15px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 25px;
    text-transform: uppercase;
}
.projects .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1500px;
    max-width: 100%;
    margin: auto;
}
.project {
    display: grid;
    border: 2px solid #ad6;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fffb;
}
.project .name {
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: default;
}
.project .buttons {
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: #fff;
    padding: 0 35px;
    transition: 0.5s ease;
    transform: translateY(100%);
}
.project:hover .buttons {
    transform: translateY(0);
}
.project .buttons a {
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: #666;
    transition: 0.8s ease;
}
.project .buttons .demo {
    background-color: #ad6;
}
.project .buttons .source {
    background-color: #ccc;
}
.project .buttons a:hover {
    color: #444;
}
.project .buttons .demo:hover {
    background-color: #be6;
}
.project .buttons .source:hover {
    background-color: #d7d7d7;
}

.footer .links {
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.footer .links a {
    border: 1px solid;
    border-radius: 50%;
    outline: 1px solid transparent;
    background-color: #fffb;
    padding: 10px 10px;
    transition: 0.3s ease;
}
.footer .links a:hover {
    outline: 1px solid #121922;
    background-color: #fff;
}
.footer .links img {
    display: block;
}